In [ ]:
import pandas as pd

## Question:
How does human coastal development and fishing activity influence the behavior of sharks, and is there a correlation between increased human presence in shark habitats and the frequency of shark attacks?

## Hypothesis:
We hypothesize that as human invasion and fishing activities intensify in shark habitats, there will be observable changes in shark behavior, potentially leading to an increased frequency of shark attacks. This hypothesis is based on the assumption that alterations in the sharks' natural environment and food sources due to human activities may trigger defensive or predatory behaviors, contributing to a higher incidence of interactions between sharks and humans.

In [12]:
url="Data_sharks.xlsx"
shark=pd.read_excel(url)

In [13]:
shark

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,02 Dec-2023,2023.0,Unprovoked,MEXICO,Jalisco,San Patricio Melaque,Swimming,Maria Fernandez Martinez Jimenez,F,26,...,NaN,"News Channel 21, 12/3.2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30 Nov-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,Clack Island,Swimming,male,M,21,...,1.8m bull shark,"ABC Net, 11/30/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21 Nov-2023,2023.0,Unprovoked,BAHAMAS,Grand Bahama Island,Tiger Beach,Scuba diving,female,F,47,...,NaN,"Eye Witness News, 11/22/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10 Nov-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Port Noarlunga,Free diving,Bridgette Oâ€™Shannessy,F,32,...,NaN,S. DeMarchi. GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,05 Nov-2023,2023.0,Unprovoked,USA,Florida,"Juno Beach, Palm Beach County",Swimming,Steven Reinhardt,M,66,...,NaN,"ABC, 11/15/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
shark.describe(exclude="number")

,Date,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,...,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,Unnamed: 21,Unnamed: 22
count,6920,6902,6870,6439,6356,6335,6701,6341,3930,6885,...,3398,3794,6901,6799,6819,6796,6798,6797,1,2
unique,5981,11,224,896,4493,1585,5666,8,243,4071,...,408,1671,5283,6789,6785,6776,6777,6775,1,2
top,1957,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,19,FATAL,...,Afternoon,White shark,"K. McMurray, TrackingSharks.com",1907.10.16.R-HongKong.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.07.23,2012.09.02.b,stopped here,Teramo
freq,9,5089,2535,1178,191,1116,676,5561,89,855,...,215,192,131,2,25,4,2,2,1,1

In [35]:
shark.""info""()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6945 entries, 0 to 6944
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6920 non-null   object
 1   Year            6918 non-null   float64
 2   Type            6902 non-null   object
 3   Country         6870 non-null   object
 4   State           6439 non-null   object
 5   Location        6356 non-null   object
 6   Activity        6335 non-null   object
 7   Name            6701 non-null   object
 8   Sex             6341 non-null   object
 9   Age             3930 non-null   object
 10  Injury          6885 non-null   object
 11  Unnamed: 11     6359 non-null   object
 12  Time            3398 non-null   object
 13  Species         3794 non-null   object
 14  Source          6901 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6819 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB